.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 75vh;
    width: 100vw;
    margin-top: 0;
    top: 0;
    position: absolute;
}

.head{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-direction: column;
    background-color: rgb(244, 241, 241);
    border-radius: 10px;
}

.info{
    margin: 7% auto;
    display: flex;
    justify-content: space-between;
}

.label{
    font-size: 1.3em;
    margin-right: 15px;
    min-width: 40%;
}

.submitBtn{
    width: 90%;
    margin-left: 10%;
    background-color: blue;
    color: white;
    font-size: 1.3em;
    padding: 5px;
    margin-bottom: 15px;
}

.box{
    border-radius: 5px;
    min-width: 60%;
    height: 25px;
    background-color: white;
    padding : 5px;
}

.forgot{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
    margin-right:0;
    margin-top: 0;
    padding-top: 0;
}

/* .footerMsg{
    font-size: 1em;
    margin : 15px auto;
} */

.change{
    font-size: 1em;
    margin-bottom: 10px ; 
}

