.sidebar{
    width: 4vw;
    height: 98vh;
    left:1.3vw;
    top: 2vh;
    position: fixed;
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    z-index: 0;
    border-right: 3px solid rgb(202, 199, 199);
    padding-right: 2px;
    padding-bottom: 5vh;
}

.part1, .part2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    
}

.sidebarIcon{
    padding: 15px 0;
    margin:2px  ;
    cursor: pointer;
    background-color: #f0f2f5;
    border: none;
}