.container {
  background-color: #eae6df;
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 0;
}

.nav{
  width: 20vw;
  height: 96vh;
  left:2vw;
  top: 2vh;
  position: absolute;
  z-index: 0;
  display: none;
}

.bgTop{
  width: 100vw;
  height: 18vh;
  top: 0;
  left:0;
  position: absolute;
  background-color: #00a884;
  z-index: -1;
}