/* .container{
  background-color: #eae6df;
  display: block;
  position: relative;
  height: calc(100vh - 2vh);
  width: 96vw;
  top: 2vh;
  left: 2vw;
  z-index: 0;
} */

/* .container {
  background-color: #eae6df;
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 0;
}

.nav{
  width: 20vw;
  height: 100vh;
  background-color: black;
  position: fixed;
  left: 2vw;
  top:2vh;
  z-index: 1;
  border-top-left-radius: 20px;
}

#bgTop{
  width: 96vw;
  height: 30vh;
  background-color: #00a884;
  position: absolute;
  top: 2vh;
  left:2vw;
  z-index: -1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
} */

/* #bgBottom{
  width: 100vw;
  height:70vh;
  background-color: ;
} */

.container {
  background-color: #eae6df;
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 0;
}

.nav{
  width: 20vw;
  height: 98vh;
  left:2vw;
  top: 2vh;
  position: absolute;
  z-index: 0;
  display: none;
}

.bgTop{
  width: 100vw;
  height: 18vh;
  top: 0;
  left:0;
  position: absolute;
  background-color: #00a884;
  z-index: -1;
}